.nmain{
  height: 10%;
  width: 100%;
  /* border: 2px solid red; */
}

.n1 {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 17px;
  font-weight: 600;
}

.ul1 {
  font-size: 30px;
  font-weight: 650;
  /* border: 2px solid red; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ul1 a{
    text-decoration: none;
}

.ul2 {
  height: 100%;
  width: 50%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
}

.ul2 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.538);
}
.bar{
  display: none;
}
.ul3{
  border: 2px solid red;
  height: 100%;
  width: 30%;
  display: none;
}

ul {
  list-style: none;
}



.footer {
  height: 45%;
  width: 100%;
  /* border: 2px solid red; */
  background-color: rgb(15, 41, 33);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.ftxt {
  height: 80%;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  /* border: 2px solid red; */
}

.fbut {
  padding: 15px;
}

.ftxt2 {
  /* border: 2px solid red; */
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}




@media (max-width:700px) {
  .ul1{
    font-size: 18px;
    text-align: center;
  }

  .ul2{
    width: 70%;
    font-size: 13px;
  }
}
@media (max-width:600px) {
  .ul1{
    width: 30%;
    font-size: 12px;
    text-align: center;
  }
  .ul2{
    width: 70%;
    font-size: 10px;
  }
  .footer{
    height: 35%;
  }
  .ftxt{
    width: 80%;
    font-size: 8px;
  }
  .fbut{
    padding: 6px;
  }
  .ftxt2{
    text-align: center;
    font-size: 8px;
  }
}